{% extends 'base.html' %}
{% load tailwind_filters %}

{% block content %}
  <h1 class="text-black text-3xl font-bold mb-4">Login</h1>
  <form action="" method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <button class="border-2 border-black bg-white px-5 py-3 font-semibold text-black shadow-[4px_4px_0_0] shadow-black hover:translate-1 hover:shadow-none focus:ring-2 focus:ring-yellow-300 focus:outline-0" href="#" type="submit">Login</button>
  </form>
  <p class="text-center mt-4">
    ¿No tienes cuenta?
    <a href="{% url 'register' %}">Regístrate aquí</a>
  </p>
{% endblock %}
