{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Coffee Shop</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  </head>

  <body class="bg-gray-50 pt-24">
    <!-- NAVBAR -->
    <header class="fixed inset-x-0 top-0 z-30 mx-auto w-full max-w-screen-md border border-gray-100 bg-white/80 py-3 shadow backdrop-blur-lg md:top-6 md:rounded-3xl lg:max-w-screen-lg">
      <div class="px-4">
        <div class="flex items-center justify-between">
          <!-- LOGO -->
          <div class="flex shrink-0">
            <a href="/" class="flex items-center">
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQdnaKSdCAFTuQbag2WJHm06DONNBXki_0uzh3t99_4IXgnya_7r_lDLZBc&s=10" class="h-7 w-auto" />
              <p class="sr-only">Coffee Shop</p>
            </a>
          </div>

          <!-- LINKS -->
          <div class="hidden md:flex md:items-center md:justify-center md:gap-5">
            <a href="#" class="inline-flex items-center gap-2 rounded-full border border-amber-700 bg-amber-50 px-4 py-2 text-sm font-medium text-amber-900 shadow-sm transition hover:bg-amber-100 hover:shadow-md active:scale-95">☕ Mis Pedidos</a>
            <a href="{% url 'list_products' %}" class="inline-flex items-center gap-2 rounded-full border border-amber-700 bg-amber-50 px-4 py-2 text-sm font-medium text-amber-900 shadow-sm transition hover:bg-amber-100 hover:shadow-md active:scale-95">🫘 Productos</a>
          </div>

          <!-- AUTH -->
          <div class="flex items-center justify-end gap-3">
            {% if user.is_authenticated %}
              <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button type="submit" class="inline-flex items-center justify-center rounded-xl bg-red-500 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-red-600">Logout</button>
              </form>
            {% else %}
              <a href="{% url 'register' %}" class="hidden sm:inline-flex items-center justify-center rounded-xl bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-gray-300 hover:bg-gray-50">Sign in</a>

              <a href="{% url 'login' %}" class="inline-flex items-center justify-center rounded-xl bg-blue-600 px-3 py-2 text-sm font-semibold text-white hover:bg-blue-500">Login</a>
            {% endif %}
          </div>
        </div>
      </div>
    </header>

    <!-- CONTENIDO -->
    <div class="container mx-auto px-4">
      {% block content %}

      {% endblock %}
    </div>
  </body>
</html>
